<!doctype html>
<html>
<head>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1 user-scalable=no">
    <meta name="format-detection" content="telephone=no">

    <title>Dev-web-panel</title>
    <link rel="shortcut icon" sizes="16x16 24x24 32x32 48x48 64x64" href="https://dev_static.pdffiller.com/img/favicon.ico">
    <link rel="stylesheet" href="https://dev5_static.pdffiller.com/css/signature-manager.css">
</head>

<body id="responsive-layout">

<script>

    var pdffiller = 'en';
    var user = {
        userId: 10965152,
        token: "cOrFaIhhdCUGFX3BdB9gjhcck"
    };

</script>
<h1>Signature Manager</h1>
<div id="app" class="height-full"></div>

<!--<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>-->
<!--<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js"></script>-->
<!--<script src="https://dev_static.pdffiller.com/js/gui/gui.js"></script>-->
<!--<script src="https://dev_static.pdffiller.com/js/myforms.js"></script>-->
<script src="/vendors.js"></script>
<script src="/bundle.js"></script>

</body>
</html>